@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: rgb(118, 69, 6);
}

/* headings and logo*/
h1,
h2 {
    font-family: 'Open Sans' sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgba(44, 28, 5, 0.8);
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 300%;
}

/*navigation links*/
#menu,
#logo {
    line-height: 100px;
}

#menu {
    font-size: 130%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#menu a:hover {
    border-bottom: 1px solid;
}

.active {
    border-bottom: 1px solid;
}

/*hero image*/


#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/netmain10.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}




/* footer */

footer {
    height: 100px;
}



.social-networks {
    text-align: center;

}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: rgb(118, 69, 6);
}

/* events */

#events {

    width: 100%;
    overflow: hidden;

}

#events h2 {
    clear: both;
}



#events div {
    color: rgb(118, 69, 6);
    background-color: rgb(231, 224, 216);
    width: 100%;
    height: 300px;
    float: left;
    padding: 75px 50px;
    text-align: left;
    border: 2px solid white;
    box-sizing: border-box;

}

/* form */
#form_wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgb(196, 150, 113);


    background-image: url('../images/netmain9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    overflow: hidden;
    position: relative;

}


.register_form {
    margin: 200px 600px 200px 50px;
    color: rgb(118, 69, 6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    background-color: rgb(238, 199, 115);


}


.data_input {
    background: transparent;
    color: #755139FF;
    width: 100%;
    height: 25px;
    margin: 4px 0 4px 0;
    border: 1px solid white;
    border-radius: 6px;
}

.submit_box {
    border: 5px double white;
    padding: 20px;
    background-color: rgb(118, 69, 6);
    text-align: center;
    color: #F2EDD7FF;
    font-family: inherit;
    display: block;
}

.submit_box:hover {
    background-color: white;
    color: rgb(118, 69, 6);
    border: 5px solid rgb(118, 69, 6);
}

/* Media queries*/
/* for medium to smaller screens from 950px wide and down*/
@media screen and (max-width:950px) {


    #menu {
        clear: left;
        float: left;
        margin-left: 10px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    article>h2 {
        text-size-adjust: 80%;
    }
}

/* for smaller screens from 375px wide and down*/
@media screen and (max-width:375px) {


    #logo {


        width: 100%;
        font-size: 200%;


    }

    #menu {
        clear: left;
        float: left;
        width: 100%;
        margin: 0;
        font-size: 100%;
    }



    article {
        width: 90%
    }
}